@use '@/styles/abstracts/sizes';
@use '@/styles/abstracts/mixins';
@use '@/styles/abstracts/component-sizes';
@use '@/styles/abstracts/colors';
@use '@/styles/utilities/accessibility';

.edit-container {
    flex-grow: 1;
    width: 100%;
}

.title {
    @extend %focus-outline;
    background: none;
    border: none;
    color: colors.$color-text;
    cursor: pointer;
    font-family: inherit;
    padding: sizes.$spacing-sm;
    text-align: left;
    width: 100%;
    @include mixins.interactive-border(component-sizes.$border-width);
    border-radius: sizes.$radius-sm;

    h1,
    h2 {
        font-size: inherit;
        font-weight: inherit;
        margin: 0;
        max-width: 100%;
        @include mixins.text-truncate;
    }
}

.input {
    width: 100%;
}
