@use '@/styles/abstracts/sizes';

.board {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--spacing-lg);
    width: 100%;
}

.columns {
    display: flex;
    gap: var(--spacing-lg);
    height: 100%;
    width: 100%;

    > :last-child {
        height: sizes.$input-height;
        width: sizes.$column-width;

        button {
            height: 100%;
            padding: var(--spacing-sm);
        }
    }
}
