@use '@/styles/abstracts/sizes';
@use '@/styles/abstracts/mixins';
@use '@/styles/abstracts/component-sizes';
@use '@/styles/abstracts/colors';

.board {
    @include mixins.flex(column);

    height: 100vh;
    padding: sizes.$spacing-lg;
    width: 100%;
}

.columns {
    @include mixins.flex(row, flex-start, flex-start, sizes.$spacing-lg);

    height: 100%;
    overflow-x: auto;
    width: 100%;

    > :last-child {
        height: sizes.$input-height;
        width: sizes.$column-width;

        button {
            height: 100%;
            padding: sizes.$spacing-sm;
        }
    }
}
