@use '@/styles/abstracts/sizes';
@use '@/styles/abstracts/mixins';
@use '@/styles/abstracts/component-sizes';
@use '@/styles/abstracts/colors';
@use '@/styles/utilities/accessibility';

.column {
    background-color: colors.$color-surface-dark;
    border-radius: sizes.$radius-md;
    flex-shrink: 0;
    height: fit-content;
    min-height: sizes.$card-min-height;
    min-width: sizes.$column-width;
    padding: 0 sizes.$spacing-md sizes.$spacing-md;
    width: sizes.$column-width;
    @include mixins.flex(column, flex-start, stretch);
}

.title-bar {
    @include mixins.flex(row, space-between, center);

    gap: 0;
    margin: sizes.$spacing-md 0;
    width: 100%;

    [data-type='title'] {
        border-radius: sizes.$radius-sm;
        font-size: component-sizes.$title-font-size;
        font-weight: component-sizes.$title-font-weight;
        height: sizes.$input-height;
        max-width: calc(100% - #{sizes.$delete-icon-size});
        padding: sizes.$spacing-sm;
        @include mixins.interactive-border(component-sizes.$border-width);
        @include mixins.flex(row, flex-start, center);

        h2 {
            font-size: inherit;
            font-weight: inherit;
            margin: 0;
            max-width: 100%;
            @include mixins.text-truncate;
        }
    }
}

.content {
    @include mixins.flex(column, flex-start, stretch);

    flex-grow: 1;
    margin-bottom: sizes.$spacing-md;
    min-height: sizes.$spacing-unit;
    width: 100%;

    // Add gap between cards
    > * {
        margin-bottom: sizes.$spacing-md;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.add-card,
.new-card {
    margin: sizes.$spacing-md;
}

.input {
    @include mixins.input-base;
}

.visually-hidden {
    @extend %visually-hidden;
}

.add-card-container {
    padding: 0 sizes.$spacing-md;
    width: 100%;
}
