@use '@/styles/abstracts/sizes';
@use '@/styles/abstracts/mixins';
@use '@/styles/abstracts/component-sizes';
@use '@/styles/abstracts/colors';
@use '@/styles/utilities/accessibility';

.button {
    font-family: inherit;
    @include mixins.transition;

    @extend %interactive-element;
    @extend %focus-outline;
    border-radius: sizes.$radius-sm;
    width: 100%;
}

.primary {
    background-color: colors.$color-accent;
    color: colors.$color-text;

    &:hover:not(:disabled) {
        background-color: colors.$color-accent-hover;
    }
}

.secondary {
    background-color: colors.$color-surface;
    color: colors.$color-text;
    border: 2px solid colors.$color-accent;

    &:hover:not(:disabled) {
        background-color: colors.$color-surface-hover;
    }
}

.small {
    font-size: sizes.$button-font-size;
    padding: sizes.$spacing-xs sizes.$spacing-xs;
}

.medium {
    font-size: component-sizes.$title-font-size;
    padding: sizes.$spacing-sm sizes.$spacing-sm;
}

.large {
    font-size: component-sizes.$heading-font-size;
    padding: sizes.$spacing-md sizes.$spacing-md;
}
