@use '@/styles/abstracts/sizes';
@use '@/styles/abstracts/mixins';
@use '@/styles/abstracts/component-sizes';
@use '@/styles/abstracts/colors';
@use '@/styles/utilities/accessibility';

.button {
    border-radius: sizes.$radius-sm;
    font-family: inherit;
    min-width: sizes.$button-min-width;
    width: 100%;
    @include mixins.transition;
    @include mixins.flex(row, center, center);
    @extend %interactive-element;
    @extend %focus-outline;

    h1 {
        font-weight: 700;
    }

    h2 {
        font-weight: 500;
    }
}

.primary {
    background-color: colors.$color-accent;
    color: colors.$color-text;

    &:hover:not(:disabled) {
        background-color: colors.$color-accent-hover;
    }
}

.secondary {
    background-color: colors.$color-surface;
    border: 2px solid colors.$color-accent;
    color: colors.$color-text;

    &:hover:not(:disabled) {
        background-color: colors.$color-surface-hover;
    }
}

.small {
    font-size: sizes.$button-font-size;
    padding: sizes.$spacing-xs sizes.$spacing-xs;
}
