@use '@/styles/abstracts/sizes';
@use '@/styles/abstracts/mixins';
@use '@/styles/abstracts/component-sizes';
@use '@/styles/abstracts/colors';
@use '@/styles/utilities/accessibility';

.wrapper {
    @include mixins.flex(column, flex-start, stretch, sizes.$spacing-xs);
    width: 100%;
}

.input {
    @include mixins.input-base;
    @include mixins.transition;

    &.error {
        outline: component-sizes.$border-width solid colors.$color-error;
    }
}

.error-message {
    color: colors.$color-error;
    font-size: component-sizes.$error-font-size;
}
