@use '@/styles/utilities/accessibility';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    width: 100%;
}

.input {
    background-color: var(--color-surface-hover);
    border: none;
    border-radius: var(--radius-sm);
    color: var(--color-text);
    font-size: 1rem;
    padding: var(--spacing-sm);
    width: 100%;

    @extend %focus-outline;

    &.error {
        outline: 2px solid var(--color-error);
    }
}

.error-message {
    color: var(--color-error);
    font-size: 0.875rem;
}
