*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Remove default list styles
ul,
ol {
    list-style: none;
}

// Make images easier to work with
img {
    display: block;
    max-width: 100%;
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
    font: inherit;
}
