@use '@/styles/abstracts/sizes';
@use '@/styles/abstracts/mixins';
@use '@/styles/abstracts/component-sizes';
@use '@/styles/abstracts/colors';
@use '@/styles/utilities/accessibility';

.container {
    @include mixins.flex(column, flex-start, stretch, sizes.$spacing-sm);

    width: 100%;
}

.add-button {
    @include mixins.button-base;
    @extend %focus-outline;

    align-items: center;
    border-color: colors.$color-accent;
    display: flex;
    font-size: component-sizes.$title-font-size;
    height: sizes.$input-height;
    justify-content: center;
    padding: sizes.$spacing-xs sizes.$spacing-md;
    text-align: center;
    width: 100%;

    &:hover {
        background-color: colors.$color-surface-hover;
        border-color: colors.$color-accent-hover;
    }
}

.new-item {
    width: 100%;

    input {
        font-size: component-sizes.$title-font-size;
        height: sizes.$input-height;
        padding: sizes.$spacing-xs sizes.$spacing-md;
        width: 100%;
    }
}
